  <h1>The Devil is in the Details</h1>
  
  <div class="detail_strong"><%= @art_items.name %></div>
  <h3>Description:</h3>
  <p><%= @art_items.description %></p><br>
  <div>
    <a href="/artitems/<%= @art_items.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/artitems/<%= @art_items.id %>" style="display: inline-block;">
        <input type="hidden" name="_method" value="delete" />
        <input class="submit_btn" type="submit" value="Delete" />
    </form>
  </div>
