  <h1>This is the Art Item model details page</h1>
  
  <h3><%= @art_items.name %></h3>
  <div>Description: <%= @art_items.description %></div><br>
  <div>
    <a href="/artitems/<%= @art_items.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/artitems/<%= @art_items.id %>" style="display: inline-block;">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete" />
    </form>
    </div>
