h1 {
  font-size: 30px;
  line-height: 48px;
  color: #15324d;
  font-family: Arial, Helvetica, sans-serif;
}

.main_header {
  color: #4f91cd;
  font-size: 48px;
  line-height: 54px;
  font-family: "Open Sans", sans-serif;

}