<h1>Sign Up to Track Your Supplies!</h1>
<form action="/users" method="POST">

    <label for="username">Username</label>
    <input placeholder="Requires a Username" type="username" name="username" id="username"  required=""/>

    <label for="email">Email</label>
    <input placeholder="Requires a Email" type="email" name="email" id="email"  required=""/>
    <label for="password">Password</label>
    <input placeholder="Requires a Password" type="password" name="password" id="password"  required=""/>
    <input class="submit_btn_nice" type="submit" value="Sign Up" />

</form>
