<h1>Sign Up to Track Your Supplies!</h1>
<form action="/users" method="POST">

  <p>
    <div><label for="username">Username</label></div>
    <input type="username" name="username" id="username" required />
  </p>
  <p>
    <div><label for="email">Email</label></div>
    <input type="email" name="email" id="email" required />
  </p>
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password" required />
  </p>
  <input type="submit" value="Sign Up" />

</form>
