<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>My Art Supply Tracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>
  <body>

    <div class="container">
    <nav>
      <% if !logged_in? %>
        <a href="/users/login">Log In</a>
        <a href="/users/new">Sign Up</a>
        <% else %>
          <a href="/artitems/new">Add Item</a>
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Log Out">
          </form>
        <% end %>
    </nav>
      <div class="main_header">Art Media Tracker!</div>
    </div>

    <%= yield %>

    


  </body>
</html>
